<table class="KanbanColumnTable table-auto self-stretch h-[405px] flex-col justify-start items-start flex">
  <thead class="sticky top-0">
    <tr class="Headerrow self-stretch px-2.5 justify-start items-start gap-[5px] inline-flex">
      <th class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Frame8 h-[21px] justify-start items-center gap-2.5 flex">
          <div class="Columns text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Columns</div>
        </div>
      </th>
      <th class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
          <div class="Wip text-white text-base font-bold font-['Outfit'] capitalize leading-tight">WIP</div>
        </div>
      </th>
      <th class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
          <div class="LowB text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Low B.</div>
        </div>
      </th>
      <th class="Cellheader px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content h-[21px] justify-center items-center gap-2.5 flex">
          <div class="HighB text-white text-base font-bold font-['Outfit'] capitalize leading-tight">High B.</div>
        </div>
      </th>
      <th class="Cellheader h-[37px] px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content justify-center items-center gap-2.5 flex">
          <div class="Buffer text-white text-base font-bold font-['Outfit'] capitalize leading-tight">Buffer</div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var row in kanbanRows)
    {
    <tr class="Row self-stretch px-2.5 justify-start items-center gap-[5px] inline-flex">
      <td class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Frame7 justify-start items-center gap-2.5 flex">
          <div class="w-[104px] text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">@row.Status
          </div>
        </div>
      </td>
      <td class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[27px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class="self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            @row.Wip</div>
        </div>
      </td>
      <td class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[43px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class="self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            @row.LowB</div>
        </div>
      </td>
      <td class="Cell px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Content w-[46px] flex-col justify-center items-center gap-2.5 inline-flex">
          <div
            class="self-stretch text-center text-white text-sm font-normal font-['Outfit'] capitalize leading-[18.20px]">
            @row.HighB</div>
        </div>
      </td>
      <td class="Cell h-10 px-[7px] py-2 justify-center items-center gap-2.5 flex">
        <div class="Bufferswitch w-10 pl-[3px] pr-[19px] py-[3px] @(row.IsBufferActive ? " bg-[#ff7c87]"
          : "bg-[#2c2c2c]" ) rounded-full border border-[#2c2c2c] justify-start items-center flex">
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>

@code {
[Parameter]
public List<KanbanColumnModel> kanbanRows { get; set; } = KanbanColumnModel.InitializeKanbanColumns();
  }
