@using ProjectRiskManagementSim.DataAccess.Models
@using System.Globalization

<div class="self-stretch shrink basis-0 p-1 flex-col justify-start items-start gap-1 flex">
  <div class="SimulationHeader self-stretch p-1 flex-col justify-start items-start gap-1 flex">
    <div class="SimHeadContainer self-stretch p-1 rounded-[22px] flex-col justify-center items-center gap-2.5 flex">
      <div class="CostDelaySection px-2.5 py-[5px] justify-start items-start gap-2.5 inline-flex">
        <div
          class="CostDelayValue w-[113px] text-right text-white text-base font-bold font-['Outfit'] capitalize leading-none">
          @if(@Project != null )
          {
          @Project.Name;
          }
        </div>
        <Editbutton />
      </div>
    </div>
  </div>
  <div class="StartDateSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
    <div class="Frame10 grow shrink basis-0 justify-start items-center gap-2.5 flex">
      <div class="StartDateName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Start:
      </div>
    </div>
    <div class="StartDateValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
      @if(@Simulation != null && @Simulation.StartDate != null )
      {
      @Simulation.StartDate.ToShortDateString();
      }
    </div>
  </div>
  <div class="TargetDateSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
    <div class="Frame11 grow shrink basis-0 justify-start items-center gap-2.5 flex">
      <div class="TargetDateName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Target:
      </div>
    </div>
    <div class="TargetDateValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
      @if(@Simulation != null && @Simulation.TargetDate != null )
      {
      @Simulation.TargetDate.ToShortDateString();
      }
    </div>
  </div>
  <div class="EndDateSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
    <div class="Frame12 grow shrink basis-0 justify-start items-center gap-2.5 flex">
      <div class="EndDateName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">End:</div>
    </div>
    <div class="EndDateValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
      @if(@Simulation != null )
      {
      }
      19-11-2024
    </div>
  </div>
  <div class="BudgetSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
    <div class="Frame13 grow shrink basis-0 justify-start items-center gap-2.5 flex">
      <div class="BudgetName w-20 text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Budget:
      </div>
    </div>
    <div class="BudgetValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
      @if(@Simulation != null )
      {
      }
      0
    </div>
  </div>
  <div class="CostSection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
    <div class="Frame14 grow shrink basis-0 justify-start items-center gap-2.5 flex">
      <div class="CostName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">Cost:</div>
    </div>
    <div class="CostValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
      @if(@Simulation != null && @Simulation.ActualCosts != null )
      {
                @Simulation.ActualCosts.Value.ToString("N0", new CultureInfo("da-DK"))
      }
    </div>
  </div>
  <div class="CostDelaySection self-stretch px-2.5 py-[5px] justify-end items-start gap-2.5 inline-flex">
    <div class="Frame15 grow shrink basis-0 justify-start items-center gap-2.5 flex">
      <div class="CostDelayName text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">delay/day:
      </div>
    </div>
    <div class="CostDelayValue text-right text-white text-lg font-bold font-['Outfit'] capitalize leading-relaxed">
      @if(@Simulation != null )
      {
      }
      0
    </div>
  </div>
</div>
@code {
[Parameter] public ProjectSimulationModel Simulation { get; set; }
[Parameter] public ProjectModel Project { get; set; }
}
