@using ProjectRiskManagementSim.SimulationBlazor.Components.Pages.Dashboard
<!-- SimulationsResultTable -->
@* Render the table dynamically *@
<div class="Table1 grow shrink basis-0 self-stretch flex-col justify-start items-start inline-flex">
  <table class="Table self-stretch grow shrink basis-0 bg-white rounded border border-[#b9b9b9]">
    <!-- Table Header -->
    <thead class="TableHeader sticky top-0 z-10 cell-header-bg">
      <tr>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Simulations</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Sim. Date</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Target Date</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Days</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Budget</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Actual</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Cost/day</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Delay/day</th>
        <th class="cell-header-bg cell-content-border p-1 text-center cell-header-text">
          Epics</th>
      </tr>
    </thead>
    <!-- Table Body -->
    <tbody class="TableBody overflow-y-auto max-h-[500px]"> <!-- Set max-height to control body scrolling -->
      @foreach (var result in simulationResults)
      {
      <tr class="Row">
        <td class="cell-content-border p-3 cell-text">
          @result.SimulationName</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.SimulationDate</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.TargetDate</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.Days</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.Budget</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.ActualCost</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.CostPerDay</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.DelayPerDay</td>
        <td class="cell-content-border p-3 text-center cell-text">
          @result.Epics</td>
      </tr>
      }
    </tbody>
  </table>
</div>

@code {
[Parameter]
public List<SimulationsResultTableModel> simulationResults { get; set; } =
  SimulationsResultTableModel.InitializeSimulationResults();
  }
