@page "/kanban-simulation"
@using ProjectRiskManagementSim.SimulationBlazor.Lib
@using ProjectRiskManagementSim.SimulationBlazor.Models
@using ProjectRiskManagementSim.ProjectSimulation.Interfaces;
@using ProjectRiskManagementSim.SimulationBlazor.Components.Pages.RunSimulation;
@inject RunSimulationHandler runSimulationHandler
<div hx-get="/kanban-simulation" hx-trigger="every 1s" hx-target="this" hx-swap="innerHTML">
<div>
    <h3>Kanban Board Simulation - Day @runSimulationHandler.currentDay</h3>

   
        <table class="table table-bordered w-full">
            <thead>
                <tr>
                    @foreach (var column in runSimulationHandler.columns)
                    {
                        <th class="text-left">@column.Name (WIP: @column.WIP)</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr class="align-top">
                    @foreach (var column in runSimulationHandler.columns)
                    {
                        <td class="align-top p-4 items-start">
                            <div class="flex flex-col items-start space-y-2">
                                @foreach (var deliverable in runSimulationHandler.columnDeliverables[column])
                                {
                                    <div class="border-b pb-2 mb-2">
                                        <strong>Task: @deliverable.Nr</strong><br />
                                        Completion Days: @deliverable.CompletionDays<br />
                                        Wait Time: @deliverable.WaitTime<br />
                                        Stopped Time: @deliverable.StoppedWorkingTime
                                    </div>
                                }
                            </div>
                        </td>
                    }
                </tr>
            </tbody>
        </table>

    </div>

    @if (!runSimulationHandler.simulationRunning)
    {
        <button hx-get="/running-simulation" hx-trigger="click" class="btn btn-primary">Start Simulation</button>
    }
    else
    {
        <p>Simulation is running...</p>
    }
</div>

