@using ProjectRiskManagementSim.DataAccess.Models
@using ProjectRiskManagementSim.SimulationBlazor.Components.Pages.Dashboard

<div class="w-full border border-gray-300 rounded-lg overflow-hidden bg-white">
    <!-- Header Row -->
    <div class="grid grid-cols-12 bg-gray-200 text-gray-700 font-semibold text-center border-b border-gray-300">
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Simulations Name</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Sim. Date</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Target Date</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Days</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Budget</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">SimCost</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Actual</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Cost Difference</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Cost/day</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">SimCost/day</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Epics</div>
        <div class="cell-header-bg cell-content-border p-1 text-center cell-header-text">Bug %</div>
    </div>

    <!-- Table Body -->
    <div class="overflow-y-auto max-h-[300px] divide-y divide-gray-200">
        @if (simulationResults != null && simulationResults.SimulationsResultTableModels != null)
        {
            @foreach (var result in simulationResults.SimulationsResultTableModels)
            {
                <a href="/dashboard/@result.Id" hx-trigger="apexCharts from:body">
                    <div class="grid grid-cols-12 items-center text-center hover:bg-gray-100 cursor-pointer @(result.Id == ProjectSimulationId ? "bg-[#FFBEC3]" : "" )" href="/dashboard/@result.Id" hx-trigger="click">
                        <div class="cell-content-border p-3 cell-text line-clamp-2 hover:line-clamp--none">@result.SimulationName</div>
                        <div class="cell-content-border p-3 cell-text">@result.SimulationDate</div>
                        <div class="cell-content-border p-3 cell-text">@result.TargetDate</div>
                        <div class="cell-content-border p-3 cell-text">@result.DelayPerDay</div>
                        <div class="cell-content-border p-3 cell-text">@result.Budget</div>
                        <div class="cell-content-border p-3 cell-text">@result.SimCost</div>
                        <div class="cell-content-border p-3 cell-text">@result.ActualCost</div>
                        <div class="cell-content-border p-3 cell-text">@result.CostDifference</div>
                        <div class="cell-content-border p-3 cell-text">@result.CostPerDay</div>
                        <div class="cell-content-border p-3 cell-text">@result.SimCostPerDay</div>
                        <div class="cell-content-border p-3 cell-text">@result.Epics</div>
                        <div class="cell-content-border p-3 cell-text">@result.BugPercentage</div>
                    </div>
                </a>
            }
        }
    </div>
</div>

@code {
    [Parameter] public int ProjectSimulationId { get; set; }
    [Parameter] public List<ProjectSimulationModel> Simulations { get; set; }
    public ListSimulationsResultTable simulationResults { get; set; }

    protected override void OnInitialized()
    {
        simulationResults = new ListSimulationsResultTable();
        simulationResults.Init(Simulations);
    }
}
